$color1: #aceca1;
$bgcolor1: #629460;
$gray: rgb(218, 216, 216);
$navy: rgb(15, 57, 103);
$niceGreen: #017558;
.formBox {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 50px;
  width: 400px;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  .formTitle {
    text-align: center;
  }
  .formGroup {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    .formSubmit {
      background-color: $navy;
      color: $gray;
      height: 40px;
      width: 100px;
      transition: 200ms;
    }
    .formSubmit:hover {
      background-color: lighten($navy, 40%);
      color: white;
      transition: 200ms;
    }
    .formForm {
      border-radius: 2px 2px 2px 2px;
      outline-color: transparent;
      outline-style: none;
      background-color: $gray;
      transition: 200ms background-color;
    }
    .formForm:focus {
      outline-color: transparent;
      outline-style: none;
      box-shadow: 0 0 10px lighten($navy, 50%);
      border: 3px solid lighten($navy, 50%) !important;
      background-color: white;
      transition: 200ms background-color;
    }
  }
}
.formSubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.formSubmit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.formSubmit:hover span {
  padding-right: 25px;
}

.formSubmit:hover span:after {
  opacity: 1;
  right: 0;
}
body {
  background-color: white;
}
