$color1: #aceca1;
$bgcolor1: #629460;
$gray: rgb(218, 216, 216);
$navy: rgb(15, 57, 103);
$niceGreen: #017558;
.navbar {
  background-color: white;
  transition: 100ms;
  height: 100px;
  font-size: 100%;
}
.navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 3em !important;
}
.navbar-brand:hover {
  color: black !important;
}
.nav-link {
  color: black;
  font-size: 1.5em;
  transition: 200ms;
  margin: 5px;
}
.nav-link--active {
  color: black;
  transform: scale(1.1);
  font-weight: 10px;
  text-decoration: none !important;
}
.nav-link:hover {
  color: black;
  transform: scale(1.1);
  text-decoration: none !important;
}
