$color1: #aceca1;
$bgcolor1: #629460;
$gray: rgb(218, 216, 216);
$navy: rgb(15, 57, 103);
$niceGreen: #017558;

.cardWhole {
  color: white;
  margin: 10px;

  .cardHeader {
    background-color: $navy !important;
    color: rgb(162, 162, 162);
    transition: 200ms;
    .cardHeader.active {
      background-color: white !important;
    }
  }
  .cardHeader:hover {
    color: white;
    transition: 200ms;
  }
  .cardBody {
    background-color: lighten($navy, 20%);
  }
}
.cardTag {
  background-color: lighten($navy, 50%);
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}
.postTitles {
  color: white;
}
