$color1: #aceca1;
$bgcolor1: #629460;
$gray: rgb(218, 216, 216);
.formBox {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 50px;
  width: 400px;
  background-color: white;
  .formTitle {
    text-align: center;
  }
  .formGroup {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    .formSubmit {
      background-color: $bgcolor1;
      color: $gray;
      height: 40px;
      width: 100px;
      transition: 200ms;
    }
    .formSubmit:hover {
      background-color: darken($bgcolor1, 10%);
      color: white;
      transition: 200ms;
    }
    .formForm {
      border-radius: 2px 2px 2px 2px;
      outline-color: transparent;
      outline-style: none;
      background-color: $gray;
      transition: 200ms background-color;
    }
    .formForm:focus {
      outline-color: transparent;
      outline-style: none;
      box-shadow: 0 0 10px $color1;
      border: 3px solid $color1 !important;
      background-color: white;
      transition: 200ms background-color;
    }
  }
}
body {
  background-color: rgb(2, 2, 55);
}
