$color1: #aceca1;
$bgcolor1: #629460;
$gray: rgb(218, 216, 216);
.displayPost {
  margin: 50px;
  background-color: $bgcolor1;
  width: 100%;
  height: 200px;
  color: rgb(218, 216, 216);
  border-radius: 5px;
  transition: 200ms;
  .postTitle {
    margin: 10px;
    font-size: 40px;
    transition: 200ms;
  }
  .postAuthor {
    margin: 10px;
    font-size: 20px;
    transition: 200ms;
  }
  .postDate {
    font-size: 35px;
    transition: 200ms;
  }
  .postTags {
    margin: 10px;
    transition: 200ms;
  }
}
.displayPost:hover {
  background-color: darken($bgcolor1, 10%);
  transform: scale(1.01);
  transition: 200ms;
  .postTitle {
    color: white;
  }
  .postAuthor {
    color: white;
  }
  .postDate {
    color: white;
  }
  .postTags {
    color: white;
  }
}
